/*webpage max-width*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/*centering page*/
nav a {
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

/*background color*/
body {
    background-color: white;
}
header {
    background-color: forestgreen;
}
nav a:hover {
    background-color: lime;
}
.book, .join {
    background-color: white;
}
.book:hover, .join:hover {
    background-color: lime;
}
#background {
    background-color: white;
}
.msg {
    background-color: white;
}
footer {
    background-color: forestgreen;
}

/*foreground color*/
nav a {
    color: white
}
nav a:hover {
    color: white
}
.home-title {
    color: white
}
h4 {
    color: white
}
.book, .join {
    color: white
}
.book:hover, .join:hover {
    color: white
}
.msg h2 {
    color: white
}
.msg p {
    color: white
}
footer {
    color: white
}
footer a {
    color: white
}
footer a:hover {
    color: white
}
