/*whole page*/
.content {

}

/*header*/
header {
    background-color: #ebe3e3;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;    
    color: #7666fb;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #f49c9c;
    color: #7666fb;
}
.corp_logo {
    height: 75px;
    grid-column: 1;
    grid-row: 1;
}

/*main*/

/*footer*/
footer {
    background-color: #ebe3e3;
    color: #7666fb;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.msg {
    background-color: #f49c9c;
    line-height: 1.5em;
    margin-top: 25px;
    padding: 25px;
    box-shadow: 5px 5px 10px #6f7364;
    width: auto
}
.msg h3 {
    color: #7666fb;
}
.msg p {
    color: #7666fb;
}
footer .social img {
    padding-top: 15px;
}
.copy-right {
    grid-column: 5/7;
    grid-row: 2;
}