@import url('https://fonts.googleapis.com/css2?family=Bungee&family=PT+Serif&display=swap');

/*whole page*/
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*header*/
header {
    background-color: #ebe3e3;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;    
    color: #7666fb;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #f49c9c;
    color: #7666fb;
}
.corp_logo {
    height: 75px;
    grid-column: 1;
    grid-row: 1;
}

/*Page 1 main*/
.msg-title {
    grid-column: 2/5;
    background-color: #f49c9c;
    line-height: 1.5em;
    margin-bottom: 100px;
    padding: 25px;
    box-shadow: 5px 5px 10px #6f7364;
    width: auto;
    text-align: center;
}
.msg-title h1 {
    color: #7666fb;
    font-family: "Bungee";
    font-size: 3em;
}
.msg-title p {
    color: #7666fb;
    font-family: "PT Serif", "Times New Roman", sans-serif;
}
.color{
    background-color: #f49c9c;
    height: 600px;
}
.color h1{
    text-align: center;
    color: #7666fb;
}
.blank{
    height: 600px;
}
.cloud{
    size: 100px;
    padding: 35px;
    margin: 50px;
    background-color: white;
}
.hacker{
    size: 100px;
    padding: 35px;
    margin: 50px;
    background-color: white;
}
.virus{
    size: 100px;
    padding: 35px;
    margin: 50px;
    background-color: white;
}
.web-app{
    size: 100px;
    padding: 35px;
    margin: 50px;
    background-color: white;
}
.mobile-app{
    size: 100px;
    padding: 35px;
    margin: 50px;
    background-color: white;
}
.checklist{
    size: 100px;
    padding: 35px;
    margin: 50px;
    background-color: white;
}

/*footer*/
footer {
    background-color: #ebe3e3;
    color: #7666fb;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.msg {
    background-color: #f49c9c;
    line-height: 1.5em;
    margin-top: 25px;
    padding: 25px;
    box-shadow: 5px 5px 10px #6f7364;
    width: auto
}
.msg h3 {
    color: #7666fb;
    font-family: "Bungee";
}
.msg p {
    color: #7666fb;
    font-family: "PT Serif", "Times New Roman", sans-serif;
}
footer .social img {
    padding-top: 15px;
}
.copy-right {
    grid-column: 5/7;
    grid-row: 2;
}